body {
   font-family: 'Lato', sans-serif;
   margin: 1em;
   padding: 0;
   background-color: #f9f9f9;
   color: #333;
   line-height: 1.6;
   background: linear-gradient(135deg, #fbfafb, #e1e1e1);
}

.container {
   width: 90%;
   max-width: 1200px;
   margin: 0 auto;
}

header {
   margin-top: 1em;
   text-align: center;
}

header h1 {
   font-size: 3em;
   margin: 0;
}

p {
   margin: 0;
}

header p {
   color: white;
   background-color: #FF9775;
   border-radius: 0.95em;
   border: 1px solid #FF9775;
   padding: 1em;
   margin: 1em auto;
   display: inline-block;
}

main {
   padding: 40px 20px;
   text-align: center;
}

main h2 {
   font-size: 2.5em;
   color: #FF9775;
}

.features {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   gap: 30px;
}

.feature {
   text-align: center;
   transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.feature:hover {
   transform: translateY(-10px);
}

.feature h3 {
   font-size: 1.5em;
   margin-bottom: 10px;
   color: #2ebd82;
}

footer {
   background: #2ebd82;
   color: white;
   text-align: center;
   padding: 20px 0;
   margin-top: 40px;
}

footer p {
   margin: 0;
   font-size: 0.9em;
}

.responsive-img {
   height: auto;
   max-width: 600px;
   width: 100%;
}

.responsive-img-mac {
   max-height: 15rem;
}

ul {
   list-style-type: none;
   padding: 0;
   margin: 0;
}

.logo-title {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 1rem;
}

.logo-icon {
   width: 3rem;
   height: 3rem;
}

.shadowed-image {
  filter: drop-shadow(0 5px 6px rgba(0, 0, 0, 0.2));
}